* {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(233, 47%, 7%);
}
.container {
  display: flex;
  height: 390px;
  border-radius: 10px;
  overflow: hidden;
}
.text {
  background-color: hsl(244, 38%, 16%);
  width: 60%;
  padding-left: 50px;
  padding-top: 60px;
}
.image {
  width: 450px;
  position: relative;
}
.image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(155, 0, 155, 0.471);
}
.text h1 span {
  color: hsl(277, 64%, 61%);
}

.text .parent {
  display: flex;
  background-color: hsl(244, 38%, 16%);
  width: 350px;
  justify-content: space-between;
  margin-top: 70px;
}
.text p,
h1 {
  background-color: hsl(244, 38%, 16%);
  width: 350px;
}
.text p {
  margin-top: 30px;
  color: hsla(0, 0%, 100%, 0.6);
}
.text h1 {
  font-size: 35px;
  color: #fff;
}
.text .parent .child1,
.child2,
.child3 {
  color: #fff;
}
.text .parent span {
  color: hsla(0, 0%, 100%, 0.6);
}
