* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  align-items: center;
}

.card {
  background-color: white;
  width: 320px;
  margin: auto;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 320px;
  border-radius: 10px;
}

.card h3 {
  font-size: 22px;
  margin: 20px;
  color: hsl(218, 44%, 22%);
}

.card p {
  width: 88%;
  margin: auto;
  margin-bottom: 28px;
  color: hsl(220, 15%, 55%);
  line-height: 1.5;
}
body {
  background-color: hsl(212, 45%, 89%);
}

.container {
  background-color: #fff;
  width: 340px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.container p {
  padding: 10px;
  font-family: sans-serif;
  color: hsl(220, 10%, 55%);
  font-size: 18px;
  line-height: 1.8;
}
.container h2 {
  font-family: sans-serif;
  font-weight: bold;
  color: hsl(218, 44%, 22%);
}
