body {
  background-color: hsl(212, 45%, 89%);
}

.container {
  background-color: #fff;
  width: 340px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.container p {
  padding: 10px;
  font-family: sans-serif;
  color: hsl(220, 10%, 55%);
  font-size: 18px;
  line-height: 1.8;
}
.container h2 {
  font-family: sans-serif;
  font-weight: bold;
  color: hsl(218, 44%, 22%);
}
